body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* === header === */

header ul li {
    text-align: center;
    margin: 20px 0 20px 0;
}
header ul li a {
    color: black;
    text-decoration: none;
}