html {
    font-size: calc(12px + 0.390625vw);
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* === header === */

header ul li {
    text-align: center;
    margin: 20px 0 20px 0;
}
header ul li a {
    color: black;
    text-decoration: none;
}

/* === banner === */

section.banner {
    text-align: center;
    padding: 1px 2vw 0 2vw;
}
section.banner h1 {
    font-size: 2rem;
    font-weight: bold;
}
section.banner p {
    margin: 15px 0 15px 0;
    line-height: 1.5rem;
}
section.banner button {
    background: #FF6464;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 6px 12px 6px 12px;
}

/* === posts === */

section.posts {
    background: #EDF7FA;
    padding: 2vw 6vw 4vw 6vw;
}
section.posts h2 {
    text-align: center;
    padding: 0 0 2vw 0;
}
section.posts ul li {
    background: white;
    padding: 10px 20px 10px 20px;
    margin: 0 0 10px 0;
}
section.posts ul li h3 {
    font-size: 1.4rem;
    font-weight: bold;
}
section.posts ul li p {
    padding: 5px 0 5px 0;
    line-height: 1.5rem;
}

/* === works === */

section.works {
    padding: 2vw 3vw 2vw 3vw;
}
section.works h2 {
    text-align: center;
}
section.works ul li img {
    width: 100%;
    max-width: 395px;
}
section.works ul li h3 {
    font-weight: bold;
    font-size: 1.4rem;
    margin: 2vw 0 2vw 0;
}
section.works ul li p.data {
    color: gray;
}
section.works ul li p span {
    background: #142850;
    color: white;
    border-radius: 35px;
    padding: 2px 4px 2px 4px;
}
section.works ul li p {
    padding: 0 0 2vw 0;
    line-height: 1.5rem;
}
footer{
    text-align: center;
}

footer a span {
    color: #21243D;
    font-size: 2.3rem;
    margin: 2vw 2vw 2vw 2vw;
}
footer p {
    margin: 0 2vw 2vw 2vw;
    color: gray;
    font-size: 0.8rem;
}